body {
    font-family: verdana;
    font-size: 16px;
}
.cell {
    cursor: pointer;
    border: 0.5rem solid #808080;
    padding: 0.3rem;
    width: 1em!important;
    line-height:1em!important;
    height: 1em!important;
    font-size: 5em;
    text-align: center;
}
#cell-1, #cell-2, #cell-3 {
    border-top: none;
}
#cell-3, #cell-6, #cell-9 {
    border-right: none;
}
#cell-7, #cell-8, #cell-9 {
    border-bottom: none;
}
#cell-1, #cell-4, #cell-7 {
    border-left: none;
}
.o {
    color: #d6325c;
}
.x {
    color: #61688b;
}
.gameboard {
    cellspacing: 0;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
.scoreboard {
    padding: 0.5rem;
}
.player, .reset {
    font-size: 1.5rem;
}
.reset {
    border-radius: 0.3rem;
    background: #f0f0f0;
    border: 2px solid #a0a0a0;
    cursor: pointer;
}
.reset:hover {
    background: rgba(255,255,255,0.5);
}
