body {
  color: #333;
  font-family: Helvetica, sans-serif;
  font-size: 16px;
}
section, 
section .section-title {
  background-color: #e8e8e8;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px #ccc;
}
section .section-title {
  display: inline-block;
  font-weight: bold;
  padding: 0.5rem;
  position: absolute;
  top: -1.5rem;
}
section .section-title h2 {
  margin: 0;
}
section {
  margin: 3rem 1rem 1rem 1rem;
  padding: 2rem 1rem 1rem 1rem;
  position: relative;
}
.min,
.max,
.error {
  font-weight: bold;
}
.error {
  color: #e74c3c;
}
.the-input,
.the.output {
  font-size: 1.2rem;
  font-weight: bold;
  padding: .5rem;
}
.the-input {
  border-radius: .5rem;
  border: 1px solid #ccc;
}
.the-output {
  color: #e74c3c;
}
