body {
  font-family: "Helvetica", sans serif;
  font-size: 16px;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.lightbulb {
  padding: 1rem;
  margin: 1rem 0;
  border: 2px solid black;
  border-radius: 1rem;
}
.lightbulb.on {
  background-color: #fe0;
  color: #000;
}
.lightbulb.off {
  background-color: #333;
  color: #eee;
}
.switch,
.master-switch-on,
.master-switch-off {
  padding: .5rem;
  cursor: pointer;
  cursor: pointer;
  color: #fff;
  padding: .5rem 1rem;
  border-radius: .75rem;
  border: 0;
  outline: 0;
  font-size: 1.2rem;
}
.switch {
  background-color: #333;
}
.switch:hover {
  background-color: #666;
}
.switch-icon {
  font-style: initial;
  padding: .25rem .5rem;
  border-radius: 50%;
}
.switch-icon.on {
  background-color: #00a065;
  padding: .25rem .81rem;
}
.switch-icon.off {
  background-color: #e02550;
}
.master-switch-on {
  background-color: #00a065;
}
.master-switch-on:hover {
  background-color: #20c085;
}
.master-switch-off {
  background-color: #e02550;
}
.master-switch-off:hover {
  background-color: #ff4570;
}
.desc {
  margin: 1rem 0;
  font-style: italic;
}
