#wrapper {
  max-width: 960px;
}
.panel {
  border: 2px solid #000000;
  border-radius: 1em;
  padding: 1em;
}
.panel-grey {
  border: 2px solid #ccc;
  background-color: #f8f8f8;
}
.panel-grey-dark {
  border: 2px solid #ada;
  background-color: #e0ffe0;
}
